@import '../styles/global-styles/global-styles.scss';
@import '../../core/styles/mixins/full-screen.scss';
@import '../styles/colors.scss';

html,
body {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.page {
    @include page-width();
    background-color: $bg;
}
