@import '../styles/global-styles/global-styles.scss';

html,
body {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

canvas {
    background-color: #222222;
    z-index: -1;
}
